<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div class="jumbotron">

.container
	= @wildfire.location_id
	%br

= link_to "File",
	download_file_wildfire_path
= image_tag @wildfire.file.url

</div>