

/ <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
/ <div class="jumbotron">

/ %h1 Wildfire

/ - @locations.each do |d|
/ 	Geographic Area:
/ 	= d.area
/ 	%br
/ 	Wildfire Incidence:
/ 	= d.incidence
/ 	%br
/ 	Year:
/ 	= d.year
/ 	%br
/ 	Cause:
/ 	= d.cause
/ 	%br
/ 	%br

/ = button_to "Go Back to Home Page", location_path, method: "get"

/ </div>